.about {
  background-color: transparent;
  font-size: 1.1em;
}

.profile {
  max-width: 18em;
  box-shadow: 5px 10px 20px black;
}

.my-details {
  background-color: rgba(255, 255, 255, 0.747);
  box-shadow: 5px 10px 20px black;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #231d5af8;
}

.m-2{
  box-shadow: 0 0 5px black !important;
}
